{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
    <title>Корзина</title>
{% endblock %}

{% block content %}
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row cart_list">
                <div class="col-12 col-lg-8">
                    <div class="cart-title mt-50">
                        <h2>Корзина</h2>
                    </div>
                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in basket %}
                                <tr class="basket_list">
                                    <td class="cart_product_img">
                                        <a href="#"><img src="/media/{{ item.product.image }}" alt="Product"></a>
                                    </td>
                                    <td class="cart_product_desc">
                                        <h5>{{ item.product.name }}</h5>
                                    </td>
                                    <td class="price">
                                        <span>{{ item.product.price }}</span>
                                    </td>
                                    <td class="qty">
                                        <div class="qty-btn d-flex">
                                            <p>Кол-во</p>
                                            <div class="quantity">
                                                <input type="number" id="{{ item.id }}"
                                                       min="0"
                                                       max="300"
                                                       name="{{ item.id }}" value="{{ item.quantity }}">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>КОРЗИНА</h5>
                        <ul class="summary-table">
                            {#                            <li><span>Предварительная стоимость:</span> <span>$140.00</span></li>#}
                            {#                            <li><span>Доставка:</span> <span>Free</span></li>#}
                            <li><span>Итого:</span> <span id="basket_total_sum">{{ basket.0.total_sum }}</span></li>
                        </ul>
                        <div class="cart-btn mt-100">
                            <a href="{% url 'order:order_create' %}" class="btn amado-btn w-100">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
