{% extends 'mainapp/base.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <!-- Product Details Area Start -->
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                            <li class="breadcrumb-item"><a href="#">Chairs</a></li>
                            <li class="breadcrumb-item active" aria-current="page">white modern chair</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            {% if product_images %}
                                <ol class="carousel-indicators">
                                    {% for image in product_images %}
                                        {% if image == product_images.first %}
                                            <li class="active" data-target="#product_details_slider"
                                                data-slide-to="{{ forloop.counter0 }}"
                                                style="background-image: url(/media/{{ image.image }});">
                                            </li>
                                        {% else %}
                                            <li data-target="#product_details_slider" data-slide-to="{{ forloop.counter0 }}"
                                                style="background-image: url(/media/{{ image.image }});">
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for image in product_images %}
                                        {% if image == product_images.first %}
                                            <div class="carousel-item active">
                                                <a class="gallery_img" href="/media/{{ image.image }}">
                                                    <img class="d-block w-100" src="/media/{{ image.image }}"
                                                         alt="{{ image.id }} slide">
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="carousel-item">
                                                <a class="gallery_img" href="/media/{{ image.image }}">
                                                    <img class="d-block w-100" src="/media/{{ image.image }}"
                                                         alt="{{ image.id }} slide">
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider"
                                        data-slide-to=""
                                        style="background-image: url(/media/{{ product.image }});">
                                    </li>
                                </ol>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">{{ product.price }}</p>
                            <a href="product-details.html">
                                <h6>{{ product.name }}</h6>
                            </a>
                            {% comment %}                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#">Write A Review</a>
                            </div>
                        </div>{% endcomment %}
                            <!-- Avaiable -->
                            <p class="avaibility"><i class="fa fa-circle"></i> В наличие: <span class="in_stock">
                                {{ product.quantity }}
                            </span>
                                шт
                            </p>
                        </div>

                        <div class="short_overview my-5">
                            <p>{{ product.description }}</p>
                            {% for attribute in attributes %}
                                <p>{{ attribute.attribute_id }}: {{ attribute.value }}</p>
                            {% endfor %}
                        </div>

                        <!-- Add to Cart Form -->
                        <form class="cart clearfix" method="post">
                            <div class="cart-btn d-flex mb-50">
                                <p>Кол-во</p>
                                <div class="quantity">
                                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="300"
                                           name="quantity" value="1">
                                </div>
                            </div>
                            <div class="add_to_cart">
                                <button type="button" name="addtocart" value="5" id="{{ product.id }}"
                                        class="btn amado-btn">
                                    В корзину
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Details Area End -->
{% endblock %}